
productListing{
      background-color: #ffffff;
      width: 100%;
}
product{
      display: block;
      margin-bottom: 30pt;
      margin-left: 0;
}
name{
      color: #FF0000;
      font-size: 20pt;
}
description{
      color: #0000FF;
      font-size: 20pt;
}
cost,shipping{
      display: block;
      color: #000000;
      margin-left: 20pt;

}
